$( document ).ready(function() {

  app.draw = draw
  app.visualisations = {}

  function draw (obj) {
    app.dataviz = new Viz(obj)
    app.dataviz.init()
  }

  app.visualisations.samsung = {
    'name': 'samsung',
    'dataset': <%= data.samsung.to_json %>,
    'floors': 11,
  }

  app.visualisations.samsung_onboarding = {
    'name': 'samsung_onboarding',
    'dataset': <%= data.samsung_onboarding.to_json %>,
    'floors': 70,
  }

  app.visualisations.samsung_settings = {
    'name': 'samsung_settings',
    'dataset': <%= data.samsung_settings.to_json %>,
    'floors': 2,
  }

  app.visualisations.samsung_edge_screen = {
    'name': 'samsung_edge_screen1',
    'dataset': <%= data.samsung_edge_screen.to_json %>,
    'floors': 20,
  }
  app.visualisations.Asus_Zenfone_3_Deluxe_screen0 = {
    'name': 'Asus_Zenfone_3_Deluxe_screen0',
    'dataset': <%= data.Asus_Zenfone_3_Deluxe_screen0.to_json %>,
    'floors': 20,
  }
  app.visualisations.Asus_Zenfone_3_Deluxe_screen1 = {
    'name': 'Asus_Zenfone_3_Deluxe_screen1',
    'dataset': <%= data.Asus_Zenfone_3_Deluxe_screen1.to_json %>,
    'floors': 20,
  }
  app.visualisations.HTC_10_screen0 = {
    'name': 'HTC_10_screen0',
    'dataset': <%= data.HTC_10_screen0.to_json %>,
    'floors': 20,
  }
  app.visualisations.HTC_10_screen1 = {
    'name': 'HTC_10_screen1',
    'dataset': <%= data.HTC_10_screen1.to_json %>,
    'floors': 20,
  }
  app.visualisations.Huawei_Mate_9_screen0 = {
    'name': 'Huawei_Mate_9_screen0',
    'dataset': <%= data.Huawei_Mate_9_screen0.to_json %>,
    'floors': 20,
  }
  app.visualisations.Huawei_Mate_9_screen1 = {
    'name': 'Huawei_Mate_9_screen1',
    'dataset': <%= data.Huawei_Mate_9_screen1.to_json %>,
    'floors': 20,
  }
  app.visualisations.LG_V20_screen0 = {
    'name': 'LG_V20_screen0',
    'dataset': <%= data.LG_V20_screen0.to_json %>,
    'floors': 20,
  }
  app.visualisations.LG_V20_screen1 = {
    'name': 'LG_V20_screen1',
    'dataset': <%= data.LG_V20_screen1.to_json %>,
    'floors': 20,
  }
  app.visualisations.Sony_Xperia_XZ_screen0 = {
    'name': 'Sony_Xperia_XZ_screen0',
    'dataset': <%= data.Sony_Xperia_XZ_screen0.to_json %>,
    'floors': 20,
  }
  app.visualisations.Sony_Xperia_XZ_screen1 = {
    'name': 'Sony_Xperia_XZ_screen1',
    'dataset': <%= data.Sony_Xperia_XZ_screen1.to_json %>,
    'floors': 20,
  }


  _.forEach(app.visualisations, function(value, key) {
    var name = value.name.replace(/_/g,"<br>")
    $(".visualisations").append('<div class="btn" id="' + value.name + '">' + name + '</div>')
    $("#" + value.name).on("click", function(){
      app.draw(app.visualisations[value.name])
    })
  })

  app.draw(app.visualisations.Sony_Xperia_XZ_screen1)

});
